title: Succulents
sections:
  - type: grid
    cards:
{% for plant in [
  "agave_victoriae_reginae", "chocolate_drop", "corpuscularia_lehmannii", "crassula_ovata_cutting",
  "crassula_ovata_gollum", "crassula_ovata_gollum_2", "crassula_ovata", "crassula_ovata_2",
  "gasteria_gracilis", "golden_sedum", "golden_sedum_2", "haworthia_attenuata", "haworthia",
  "haworthia_limifolia", "haworthia_mirabilis_mundula", "sansevieria_trifasciata_hahnii",
  "schlumbergera_truncata", "sedum_nussbaumerianum", "succulent_wall", "whale_fin_snake_plant"
] | batch(2) %}
      - square: false
        type: grid
        cards:
{% for p in plant %}
          - square: false
            type: grid
            cards:
              - show_state: false
                show_name: true
                camera_view: auto
                fit_mode: cover
                type: picture-entity
                entity: image.{{ p }}
                tap_action:
                  action: navigate
                  navigation_path: /dashboard-mobile/{{ p }}-history
              - type: horizontal-stack
                cards:
                  - type: horizontal-stack
                    cards:
                      - show_name: false
                        show_icon: true
                        type: button
                        entity: button.{{ p }}_complete_watering
                        icon: mdi:watering-can
                        tap_action:
                          action: toggle
                      - show_name: false
                        show_icon: true
                        type: button
                        entity: button.{{ p }}_complete_fertilizing
                        icon: mdi:cup-water
                        tap_action:
                          action: toggle
            columns: 1
{% endfor %}
        columns: 2
{% endfor %}
type: sections
max_columns: 4
cards: []
